@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}
.font-playfair{
  font-family: Playfair !important;
}

@theme{
  --color-primary : #2563EB;
  --color-secondary : #FBBF24
  --text-text:oklch(0.32 0.01 0);
}

.hero_img{
  animation: Anim-zoom 2.5s 1.4s forwards linear;
}
@keyframes Anim-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}